/* ----------------------- General --------------------------*/

nav {grid-area: nav; }
header {grid-area: header; }
main {grid-area: main; }
footer {grid-area: footer; }
  
body {
    margin:0;
    display: grid;
    grid-template-areas: 
    'nav'
    'header'
    'main'
    'footer'
}


nav, footer, main {
    background: #EFEFEF;
    padding: 10px 100px;
}

.header-cover {
    padding: 0px 100px;
}

main, header {
    background-color: white;
}

main {
    margin-top: 20px;
    margin-bottom: 20px;
}


h1, h2, nav, .cta, .cta-contact {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-weight: lighter;
}

h1 {
    font-size: 2.5em;
    font-weight: bold;
}

h2, nav {
    font-size: 1.5em;
}

p, .hours, label {
    font-family: 'lato', sans-serif;
    font-size: 1em;
}

p {
    max-width: 600px;
}

.active {
    text-decoration: underline;
}

  /* --------------------------- NAV --------------------------*/ 


nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


nav ul {
    padding:0mm;
    margin: 10px;
    text-align: left;
}

nav li {
    display: inline-block;
    margin: 10px;
}

nav a {
    color: #1C1D1D;
}

a {
    text-decoration: none;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#hamburger-menu {
    display: none;
}

.hamburger {
    display: none;
}

.search img {
    max-width: 25px;
}

.logo img {
    max-width: 200px;
}


footer .logo {
    margin-top: 15px;
}

.hours {
    list-style-type: none;
    padding:0mm;
    margin: 0px;
    text-align: left;
}


/* ------------------------ Footer ---------------------*/

.logo-footer {grid-area: logo;}
.opening {grid-area: opening;}
.address {grid-area: address;}
.contact-footer {grid-area: contact;}
.social {grid-area: social;}

footer {
    display: grid;
    grid-template-areas: 
    'logo opening address contact social'
}


/* --------------------------- Cover --------------------------*/ 

header {
    display: flex;
}

.cover {
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 50vh;
    flex: 1;
    background-position-x: center;
    background-position-y: top center;
}

/* --------------------------- Images --------------------------*/ 

.image-width img {
    width: 100%;
}

 /* --------------------------- Home Page --------------------------*/ 

.homepage-cover {
    background-image: url("../images/home_cover.jpg");
}

.grid-layout {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0px auto;
    grid-gap: 18px;
}

 /* --------------------------- Explore Page --------------------------*/ 

 .explore-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: top;
}

.explore-content-align {
    flex: 1;
}


 /* --------------------------- Explore Kids Page --------------------------*/ 

.explore-kids-cover {
    background-image: url("../images/explore_kids_cover.jpg");
}

/* --------------------------- Exhibition --------------------------*/ 


/* --------------------------- Visit Page --------------------------*/

.visit-cover {
    background-image: url("../images/visit_cover.jpg");
}


 /* --------------------------- Explore Page --------------------------*/ 

 .events-cover {
    background-image: url("../images/events_cover.jpg");
}


 .events-content {
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    align-items: top;
    gap: 18px;
    margin-top: 10px;
}

.events-content-align {
    flex: 1;
}


 /* --------------------------- Get Involved Page --------------------------*/ 

 .getinvolved-cover {
    background-image: url("../images/getinvolved_cover.jpg");
}

.getinvolved-content {
    display: flex;
    gap: 40px;
    min-height: 500px;
}

.information, .sign-up {
    flex: 1;
    margin-bottom: auto;
}

.sign-up {
    display: flex;
    flex-direction: column;
    align-items: right;
    justify-items: flex-end;
}

.write-to-us {
    flex: 1;
}

.contact {
    flex: 1;
    border: solid black 2px;
}

textarea, input {
    border: 1px solid #707070c4;
    border-radius: 8px;
    margin: 0px 0px 20px;
    padding: 10px;
}

#name, #email, #message {
    flex: 1;
    display: flex;
    flex-direction: column;
}

#name, #email {
    padding: 20px 150px 0px 0px;
}

#message {
    padding: 50px 150px 0px 0px;
}


/* --------------------------- CTA --------------------------*/

.cta, .cta-contact, .cta-home {
    font-size: 1.1em;
    color: white;
    background-color: #B70E00;
    padding: 5px 10px;
    border-radius: 5px;
}

.cta-contact {
    font-size: 1.3em;
    background-color: #005F86;
    padding: 10px 30px;
    cursor:pointer;
}

.home {
    position: relative;
}

.cta-home {
        font-size: 1.1em;
    color: white;
    background-color: #B70E00;
    padding: 5px 10px;
    border-radius: 5px;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);

}

/* --------------------------- Media Queries --------------------------*/


@media (max-width: 1210px) {
    nav, footer, main {
        padding: 10px 40px;
    }
    
    .header-cover {
        padding: 40px;
    }

    .navigation {
        display: none;
        top: 140px;
        position: absolute;
        background-color:#EFEFEF;
        z-index: 1000;
        right: 0px;
        opacity: 75%;
    }

    .navigation li {
        display: block;
    }

    #hamburger-menu:checked ~.navigation {
        display: block;
    }

    .hamburger {
        display: block;
        margin-right: 20px;
    }

    footer {
        display: grid;
        grid-template-areas: 
        'logo opening social'
        ' . address contact'
    }
    
}


@media (max-width: 1000px) {
    .grid-layout {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        max-width: 1000px;
        margin: 0px auto;
        grid-gap: 18px;
    }

    .grid-content {
        margin: auto;
        
    }

    footer, .events-content, .getinvolved-content {
        flex-direction: column;
    }

    footer {
        display: grid;
        grid-template-areas: 
        'logo logo'
        'opening address'
        'contact social'
    }

    .explore-content {
        flex-direction: column;
    }
    .explore-content-align {
        max-width: 500px;
    }

}

@media (max-width: 600px) {

    footer {
        display: grid;
        grid-template-areas: 
        'logo'
        'opening'
        'address'
        'contact' 
        'social'
    }

}

@media (min-width:1250px) {
    .hamburger, #hamburger-menu {
        display: none;
    }
}