/* ----------------------- Variables  --------------------------*/
:root {
    --primary-blue: #00A9B7;
    --secondary-blue: #005F86;
    --active-red: #B70E00;
    --background-gray: #707070;
    --bakcground-white: #EFEFEF;
    --text-black: #1C1D1D;
}


/* ----------------------- General --------------------------*/

nav {grid-area: nav; }
header {grid-area: header; }
main {grid-area: main; }
footer {grid-area: footer; }
  
body {
    margin:0;
    display: grid;
    grid-template-areas: 
    'nav'
    'header'
    'main'
    'footer'
}

nav, footer, main {
    background: var(--bakcground-white);
    padding: 10px 100px;
}

.header-cover {
    padding: 0px 100px;
}

main, header {
    background-color: white;
}

main {
    margin-top: 20px;
    margin-bottom: 20px;
}

h1, h2, nav, .cta, .cta-contact, .cta-home {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-weight: lighter;
}

h1 {
    font-size: 2.5em;
    font-weight: bold;
}

h2, nav {
    font-size: 1.5em;
}

p, .hours, label {
    font-family: 'lato', sans-serif;
    font-size: 1em;
}

p {
    max-width: 600px;
}

.active {
    text-decoration: underline;
}

  /* --------------------------- NAV --------------------------*/ 


nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    padding:0mm;
    margin: 10px;
    text-align: left;
}

nav li {
    display: inline-block;
    margin: 10px;
}

nav a {
    color: var(--text-black);
}

a {
    text-decoration: none;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#hamburger-menu {
    display: none;
}

.hamburger {
    display: none;
}

.search img {
    max-width: 25px;
    cursor:pointer;
}

.logo img {
    max-width: 200px;
}

footer .logo {
    margin-top: 15px;
}

.hours {
    list-style-type: none;
    padding:0mm;
    margin: 0px;
    text-align: left;
}


/* ------------------------ Footer ---------------------*/

.logo-footer {grid-area: logo;}
.opening {grid-area: opening;}
.address {grid-area: address;}
.contact-footer {grid-area: contact;}
.social {grid-area: social;}

footer {
    display: grid;
    grid-template-areas: 
    'logo opening address contact social'
}


/* --------------------------- Cover --------------------------*/ 

header {
    display: flex;
}

.cover {
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 50vh;
    flex: 1;
    background-position-x: center;
    background-position-y: top center;
    position: relative;
}

.cover-message {
    position: absolute;
    left: 100px;
}

.cover-message-white {
    color: var(--bakcground-white);
}


/* --------------------------- Images --------------------------*/ 

.image-width img {
    width: 100%;
    cursor:pointer;
}


 /* --------------------------- Home Page --------------------------*/ 

.homepage-cover {
    background-image: url("../images/home_cover.jpg");
    position: relative;
}

.grid-layout {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0px auto;
    grid-gap: 18px;
}

 /* --------------------------- Explore Page --------------------------*/ 

 .explore-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: top;
}

.explore-content-align {
    flex: 1;
}

 /* --------------------------- Explore Kids Page --------------------------*/ 

.explore-kids-cover {
    background-image: url("../images/explore_kids_cover.jpg");
}

/* --------------------------- Visit Page --------------------------*/

.visit-cover {
    background-image: url("../images/visit_cover.jpg");
}


 /* --------------------------- Explore Page --------------------------*/ 

 .events-cover {
    background-image: url("../images/events_cover.jpg");
}


 .events-content {
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    align-items: top;
    gap: 18px;
    margin-top: 10px;
}


 /* --------------------------- Get Involved Page --------------------------*/ 

 .getinvolved-cover {
    background-image: url("../images/getinvolved_cover.jpg");
}

.getinvolved-content {
    display: flex;
    gap: 40px;
    min-height: 500px;
}

.information, .sign-up {
    flex: 1;
    margin-bottom: auto;
}

.sign-up {
    display: flex;
    flex-direction: column;
    align-items: right;
    justify-items: flex-end;
}

.write-to-us {
    flex: 1;
}

.contact {
    flex: 1;
}

textarea, input {
    border: 1px solid var(--background-gray);
    border-radius: 8px;
    margin: 0px 0px 20px;
    padding: 10px;
}

#name, #email, #message {
    flex: 1;
    display: flex;
    flex-direction: column;
}

#name, #email {
    padding: 20px 150px 0px 0px;
}

#message {
    padding: 50px 150px 0px 0px;
}


/* --------------------------- CTA --------------------------*/

.cta, .cta-contact, .cta-home {
    font-size: 1.1em;
    color: white;
    background-color: var(--active-red);
    padding: 5px 10px;
    border-radius: 5px;
}


.cta-contact {
    font-size: 1.3em;
    background-color: var(--primary-blue);
    padding: 10px 30px;
    cursor:pointer;
}


.cta-home {
    padding: 15px 40px;
}

.homepage-message {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: white;
    position: absolute;
    top: 50%;
    left: 55%;
    transform: translate(-50%, -50%);
}

.cta-readmore {
    background-color: var(--primary-blue);
}


/* --------------------------- Animations --------------------------*/

nav ul a:hover {
    transition: 0.3s;
    background-color: var(--primary-blue);
    padding: 5px;
    color: var(--bakcground-white);
}

.cta:hover, .cta-home:hover, .book:hover {
    transition: 0.3s;
    background-color: var(--bakcground-white);
    border: 1px solid var(--active-red);
    color: var(--active-red);
}

.cta-readmore:hover, .cta-contact:hover {
    transition: 0.3s;
    background-color: var(--bakcground-white);
    border: 1px solid var(--primary-blue);
    color: var(--primary-blue);
}

.image-popup img{
    transition: 0.5s;
}

.image-popup img:hover {
    transform: scale(1.02);
}

.book {
    padding: 5px;
    background-color: var(--active-red);
    color: var(--bakcground-white);
}


/* --------------------------- Media Queries --------------------------*/


@media (max-width: 1210px) {
    nav, footer, main {
        padding: 10px 40px;
    }
    
    .header-cover {
        padding: 0px 40px;
    }

    .cover-message {
        left: 40px;
    }

    .navigation {
        display: none;
        top: 140px;
        position: absolute;
        background-color:#EFEFEF;
        z-index: 1000;
        right: 0px;
        opacity: 75%;
    }

    .navigation li {
        display: block;
    }

    #hamburger-menu:checked ~.navigation {
        display: block;
    }

    .hamburger {
        display: block;
        margin-left: 20px;
        order: 3;
    }

    .cursor {
        cursor:pointer;
    }

    footer {
        display: grid;
        grid-template-areas: 
        'logo opening social'
        ' . address contact'
    }
    
}


@media (max-width: 1000px) {
    .grid-layout {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        max-width: 1000px;
        margin: 0px auto;
        grid-gap: 18px;
    }

    .grid-content {
        margin: auto;
        
    }

    .events-content, .getinvolved-content {
        flex-direction: column;
    }

    footer {
        display: grid;
        grid-template-areas: 
        'logo logo'
        'opening address'
        'contact social'
    }

    .explore-content {
        flex-direction: column;
    }

    .explore-content-align {
        max-width: 500px;
        margin-bottom: 15px;
    }


}

@media (max-width: 600px) {

    footer {
        display: grid;
        grid-template-areas: 
        'logo'
        'opening'
        'address'
        'contact' 
        'social'
    }

}

@media (min-width:1250px) {
    .hamburger, #hamburger-menu {
        display: none;
    }

}

@media (min-width:600px) {

    .overlay-image {
        position: relative;
    }
    
    .overlay-content {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        color: var(--bakcground-white);
        background: rgba(0, 0, 0, 0.7);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        opacity: 0;
        transition: opacity 0.3s;
        cursor: pointer;
    }
    
    .overlay-content:hover {
        opacity: 1;
    }
    
    .overlay-content p {
        max-width: 400px;
        text-align: center;
    }

}
